<% if (!index) { %>
<section id="content" class="container">
<% } %>
    <article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
        <%- partial('post/title', {class_name: 'archive-article-title'}) %>
        <%- partial('post/date', {class_name: 'archive-article-date', date_format: null}) %>

        <section class="content">
            <% if (post.excerpt && index){ %>
                <%- post.excerpt %>
                <% if (theme.excerpt_link){ %>
                    <p class="article-more-link">
                        <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
                    </p>
                <% } %>
            <% } else { %>
                <%- post.content %>
            <% } %>
        </section>

        <% if (!index){ %>
            <section class="meta">
                <hr>
                <%- partial('post/category') %>
                <section class="share"><a href="#" class="link">به اشتراک بگذارید</a></section>
            </section>

            <% if (!index && post.comments && config.disqus_shortname){ %>
            <section id="comments">
                <div id="disqus_thread">
                    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                </div>
            </section>
            <% } %>
        <% } %>
    </article>
<% if (!index) { %>
</section>
<%- partial('_partial/post/nav') %>
<% } %>